* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-title {
    color: #105718;
    animation: tracking-in-expand 0.7s 0s ;
}

#circle-status {
    font-size: 10px;
    display: inline-block;
    margin-right: 4px;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.copy {
    margin-top: 128px;
}

footer {
    background-color: #1f2821;
    color: #4c9c4a;
}

.main-content {
    background-color:#252525;
    background-image: url(../assets/images/FUNDO.jpg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 500px;
    padding-top: 40px;
}

.detail {
    background-size: cover;
}

.card-text {
    font-size: 20px;
    margin-left: 4px;
}

@media (max-width: 992px) {
  .main-content {
    padding-bottom: 250px;
  }

  .detail {
    background-size: cover;
  }
}


@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}



/* Sobrescrito Bootstrap */

.form-control {
    border-right:none;
}

.form-control:focus {
    border-color:#cccc;
    border-right:none;
    box-shadow: 0 0 0 .25rem rgba(13, 109, 253, 0);
}

.input-group-text {
    background-color: transparent;
    color: #62ab60
}

.card-title {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 2px;
}

.card {
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    --bs-card-border-color: green;
}



